<div class="col-lg-12 col-md-12 col-sm-12">
    <label for="exampleFormControlInput1">Origin</label>
    <div class="input-group mb-3">
        <input type="text" [className]="'form-control no-border-right bg-dark-dl text-white border-dl'" class="form-control" [value]="value" id="nameInput" placeholder="">
        <div class="input-group-append border-with-no-left">
            <div class="dropdown" style="margin: 3.5px 5px !important;">
                <img src="../../assets/icons/dropdown dots 313x313.png" class="c-pointer dropdown-toggle" width="25" height="25" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                <div class="dropdown-menu bg-dark-dl text-white font-size-18" aria-labelledby="dropdownMenuButton">
                  <span *ngFor="let o of origins" (click)="SetValue(o.origin, o.id)" class="dropdown-item c-pointer text-white border-dl p-2-5"><img [src]="o.isSelected ? '../../assets/icons/selected_icon_213x213.png' : '../../assets/icons/unselected_icon_214x214.png'" class="mr-2" height="18" width="18" />{{o.origin}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="float-right">
        <img src="../../assets/icons/randomise icon 313x313.png" class="c-pointer" (click)="Randomise()"  width="31" height="31" />
    </div>
</div>