  <div class="container-fluid bg-dark-dl mt-3">
    <div class="row">
        <app-races class="col-lg-4 col-md-4 col-sm-6 border-top-dl p-3"></app-races>
       <app-age class="col-lg-4 col-md-4 col-sm-6 border-top-dl p-3"></app-age>
       <app-name class="col-lg-4 col-md-4 col-sm-6 border-top-dl p-3"></app-name>
       <app-gender class="col-lg-4 col-md-4 col-sm-6 border-top-dl p-3"></app-gender>
       <app-origin class="col-lg-4 col-md-4 col-sm-6 border-top-dl p-3"></app-origin>
       <app-traits class="col-lg-4 col-md-4 col-sm-6 border-top-dl p-3"></app-traits>
    </div>
  </div>

  <!-- <div class="container border">
    ghdfkg
  </div> -->