  <div class="container-fluid bg-dark-dl mt-3">
    <div class="row" style="margin: 0 auto !important;">
        <app-races class="col-lg-4 col-md-4 col-sm-6 border-all-dl mt-1 no-border-right p-3"></app-races>
       <app-age class="col-lg-4 col-md-4 col-sm-6 border-all-dl mt-1 no-border-right p-3"></app-age>
       <app-gender class="col-lg-4 col-md-4 col-sm-6 border-all-dl mt-1 p-3"></app-gender>
       <app-origin class="col-lg-4 col-md-4 col-sm-6 border-all-dl mt-1 no-border-right p-3"></app-origin>
       <app-name class="col-lg-4 col-md-4 col-sm-6 border-all-dl mt-1 no-border-right p-3"></app-name>
       <app-traits class="col-lg-4 col-md-4 col-sm-6 border-all-dl mt-1 p-3"></app-traits>
       <app-quirks class="col-lg-4 col-md-4 col-sm-6 border-all-dl mt-1 no-border-right p-3"></app-quirks>
       <app-trinkets class="col-lg-4 col-md-4 col-sm-6 border-all-dl no-border-right mt-1 p-3"></app-trinkets>
       <app-occupations class="col-lg-4 col-md-4 col-sm-6 border-all-dl mt-1 p-3"></app-occupations>
       <app-appearance class="col-lg-4 col-md-4 col-sm-6 border-all-dl mt-1 p-3"></app-appearance>
    </div>
  </div>

  <!-- <div class="container border">
    ghdfkg
  </div> -->