  <div class="container-fluid border">
    <div class="row">
      <div class="col-6">
        <app-races></app-races>
      </div>
      <div class="col-6">
        <app-age></app-age>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-name></app-name>
      </div>
      <div class="col-6">
        <app-gender></app-gender>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-origin></app-origin>
      </div>
    </div>
  </div>

  <!-- <div class="container border">
    ghdfkg
  </div> -->