/* You can add global styles to this file, and also import other style files */
.bg-dark-dl{
    background-color: #1c1c1c !important;
}
.c-pointer{
    cursor:pointer;
}

.border-dl{
    border: 1px solid #fb5b03 !important;
}
.border-dl-2x{
    border: 2px solid #fb5b03 !important;
}

.p-2-5{
    padding: 0.75rem !important;
}

.font-size-18{
    font-size:18px !important;
}

.border-left-right-2px{
    border-left: 2px solid #fb5b03 !important;
    border-right: 2px solid #fb5b03 !important;
}

.border-top-dl{
    border-top: 1px solid #fb5b03 !important;
}

.border-bottom-dl{
    border-bottom: 1px solid #fb5b03 !important;
}

.dropdown-item:hover{
    background-color: #fb5b03 !important;
    color: #1c1c1c !important;
}

@media(min-width: 600px){
    .no-border-right{
        border-right: none !important;
    }
}

.border-with-no-left{
    border: 1px solid #fb5b03 !important;
    border-left: none !important;
    border-radius: 3px;
    margin-left: -2px !important;
}

.border-left-dl{
    border-left: 1px solid #fb5b03;
}

@media(max-width: 700px){
    .border-left-dl-max-500{
        border-left: 1px solid #fb5b03;
        border-right: none !important;
    }   
}

.border-right-dl{
    border-right: 1px solid #fb5b03;
}